<div class="nav-bar">
	<ul class="ul-nav-bar">
		<li class="menuStory"><a>Stories</a>
			<div class="submenu">
				<ul >
					<li ng-click="topStory()"><a>Top Stories</a></li>
					<li ng-click="newStory()"><a>New Stories</a></li>
					<li ng-click="bestStory()"><a>Best Stories</a></li>
				</ul>
			</div></li>
		<!-- <li ng-click="newStory()"><a>New stories</a></li> -->
		<!-- <li ng-click="bestStory()"><a>Best stories</a></li> -->
		<li ng-click="Ask()"><a >Ask</a></li>
		<li ng-click="job()"><a >Job</a></li>
		<li ng-click="show()"><a >Show</a></li>


	</ul>
</div>